<div class="main_head">
  <div class="left_head">
    <div class="room_name">
      <%= @room.name %>
    </div>
  </div>
  <div class="right_head">
    <div class="exit_room">
      <%= link_to 'チャットを終了する', room_path(@room), data: { turbo_method: :delete} %>
    </div>
  </div>
</div>
<div class="chat_display">
  <%= render partial: 'message', collection: @messages %>
</div>
<%= form_with model: [@room, @message], class: 'input_chat', local: true do |f| %>
  <div class="form_chat">
    <%= f.text_field :content, class: 'form_input', placeholder: 'type a message' %>
    <label class="form_image">
      <span class="image_file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form_submit' %>
<% end %>